/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0;
}
@media (max-width: 499px) {
  body {
    min-width: 400px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 500px) {
  body {
    font-size: 1.25rem;
    padding: 1.5rem 2.5rem;
  }
}
@media (min-width: 1000px) {
  body {
    font-size: 1.5rem;
    padding: 3rem 5rem;
  }
}
@media (min-width: 2000px) {
  body {
    font-size: 2rem;
    padding: 4rem 6rem;
  }
}
h1 {
  margin: 0.5em 0;
  font-size: 2.5em;
}
h1 #title {
  font-size: 3em;
  width: 100%;
  margin-right: 0.5em;
}
h2 {
  margin: 0.35em 0;
  font-size: 2em;
}
h3 {
  margin: 0.25em 0;
  font-size: 1.75em;
}
h4 {
  margin: 0.15em 0;
  font-size: 1.5em;
}
h5 {
  margin: 0.1em 0;
  font-size: 1.25em;
}
h6 {
  margin: 0.05em 0;
  font-size: 1em;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.5em;
  font-weight: bold;
}
hr {
  margin: 1.5em 0;
}
nav {
  width: 100%;
  min-width: 400px;
}
@media (max-width: 499px) {
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
  }
  nav a {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #dedede;
    width: 100%;
  }
  nav a:last-child {
    border-bottom: none;
    margin-bottom: -1.5em;
  }
}
@media (min-width: 500px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    align-content: flex-end;
    justify-content: flex-end;
  }
  nav a {
    padding-left: 1.5em;
  }
}
nav a {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
}
section {
  width: 100%;
  margin: 2em 0;
}
section#top {
  padding: 2em;
  padding-bottom: 3em;
  background-color: #e8ebee;
  border-radius: 7.5px;
}
section#top img {
  width: 100%;
}
@media (max-width: 849px) {
  section#top h1 {
    text-align: center;
  }
  section#top h1#title span#hyphen {
    display: none;
  }
  section#top h1#title span#role br {
    display: inline;
  }
  section#top h3 {
    text-align: center;
  }
}
@media (min-width: 850px) {
  section#top h1#title span#hyphen {
    display: inline;
  }
  section#top h1#title span#role br {
    display: none;
  }
}
section#top br {
  margin-bottom: 2em;
}
section#top a {
  padding: 0.4em 0.46em;
  background-color: gray;
  color: white;
  font-size: 1.5em;
  border-radius: 7.5px;
}
section#mid {
  flex-wrap: wrap;
  align-items: flex-start;
  display: grid;
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
}
@media (max-width: 849px) {
  section#mid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 850px) {
  section#mid {
    grid-template-columns: 2fr 1fr;
  }
}
section#mid div {
  width: 100%;
}
section#mid div#items {
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 7.5px;
}
section#mid div#items .item {
  width: 100%;
  border-bottom: 1px solid #dedede;
  padding: 1em;
}
section#mid div#items .item:last-child {
  border-bottom: none;
}
section#history table {
  width: 100%;
  line-height: 2em;
  border-top: 1px solid #dedede;
}
section#history table thead tr {
  font-weight: bold;
}
section#history table thead tr td {
  padding: 0.5em;
}
section#history table tbody tr {
  line-height: 2em;
  border-top: 1px solid #dedede;
}
section#history table tbody tr td:first-child {
  font-weight: bold;
}
section#history table tbody tr td {
  padding: 0.5em;
}
section#history table tbody tr:last-child {
  border: none;
}
section#history table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
footer {
  height: 5em;
  padding-top: 1em;
  text-align: center;
  background-color: gray;
  font-size: 1em;
  font-weight: bold;
  color: white;
}
.t-margin-1 {
  margin-top: 1em;
}
